<h1>AJAX Atomics - 02</h1>

<script type="text/javascript" src="/global.js"></script>

<h3>What is the difference between this atomic and the first atomic?</h3>
<p>Instead of having two files in the public directory called "info1" and "info2", there are two routes in app.rb called the same.  "info1" contains only the text "yes" while "info2" contains a path to view2.erb, which only contains the text "no!!!!!"</p>